.item
    position: relative
    border: 1px solid #ccc
    border-radius: 5px
    margin-bottom: 1rem
    padding: 1rem
    box-shadow: 0 0 1px 0 rgba(0,0,0,.1)
    transition: border-color 200ms
    &:hover
        border-color: #1A237E

.main-info
    display: flex

.left
    flex: 1 0 100px
    text-align: center

    & h4
        margin: 0

.right
    flex: 4 0 100px
    & h5
        margin: 0

.more-info
    display: flex

.more-item
    flex: 1 0 20%
    border-right: 1px solid #ccc
    text-align: center
    &:last-child
        border: none
